/*seccion nav*/
.navbar{
	background-color: white;
	border:transparent;
	font-weight: bold;

}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-default .navbar-toggle{
	
	color: black;
	border:transparent;
	font-weight: bold;
}

.navbar-toggle .icon-bar{
	margin-left: 0px;

	

}
.navbar-default .navbar-toggle .icon-bar{
	background-color: black;


}
.navbar-toggle .icon-bar{
margin:0px;
}

/*seccion dos*/
.dos{
	background-image: url(../img/taxi.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 700px;
}



#narajo{
	background-color: #f7b617;
	margin-right: 0px auto;
	margin-top: 200px;
	height: 400px;
	width: 420px;
	margin-left:10px;
	padding-bottom: 10%;

}


#narajo2{
	background-color: #f7b617;
	margin-right: 0px auto;
	margin-top: 200px;
	height: 300px;
	width: 344px;
	margin-left:10px;
	padding-bottom: 10%;
	

}
#texto1{
	margin-left: 10%;
	padding-top: 10%;
	color: white;

}

.btn{
	font-weight: bold;

}
/*seccion tres*/
.tres{
	background-color: #f7b617;
	color: white;

}

#linea{
	padding:30px;
}
#contorno{
	
	margin:10px;
}

#texto3{
	font-size: 20px;
	padding: 10px;

}

/*seccion cuatro*/
.cuatro{
	background-image: url(../img/conduce.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 400px;

}



#cuadro{
	height: 400px;
	width: 420px;
	margin-left:10px;
	padding-bottom: 10%;
	background-color: rgba(0, 0, 0, .5);

}

#cuadro2{
	background-color: rgba(0, 0, 0, .5);
	height: 400px;
	width: 420px;
}

#texto1{
	margin-left: 10%;
	padding-top: 20%;
	color: white;

}

#botonnaranjo{
	font-weight: bold;
	background-color: #f7b617;
	color: white;
	border: transparent;

}

/*seccion cinco*/
.cinco{
	background-color: #f7b617;
	color: white;
}

#map{
	width: 400px;
	height: 400px;
	border: 1px solid white;
	margin: 20px;
}

#encuentrame{
	cursor: pointer;
}

#ruta{
	color: black;
	background-color: white;
	border-radius: 3px;
	border-color: transparent;
	width: 130px;
	height: 30px;

}

.cajita{
	width: 300px;
	height: 30px;
	margin-left: 20px;
	border-radius: 3px;
	background-color:#f7b617; 
	border-color: 1px solid white;
}

#tarifas{
	margin-top: 100px;
	margin-bottom: 100px;
}


#separado{
	margin-top:20px;
}

/*footer*/
footer{
	background-color: #2b2b2b;
}


#blanco{
	margin-top: 60px;
	margin-bottom: 20px;
}
#borde{
	border-bottom: 1px solid white;
	border-top: 1px solid white;
}
.iconos{
	color: white;
	margin-top: 280px;
	margin-bottom: 10px;
}
i:hover{
	color: grey;
}

li{
	text-decoration: none;
	list-style: none;
	margin-top: 13px;
}

#mouse{
	text-decoration: none;
	cursor: pointer;
	color: white;
}

#lista{
	margin-top: 13px;
}

#parr{
	color: white;
	margin-top: 20px;
	margin-bottom: 50px;
}

#imagen{
	width: 140px;
	margin:10px;
}

#imageness{
	margin-top: 160px;
}